/**
 * Utility
 */

.padding-1 {
  padding: 1em;
}

.padding-2 {
  padding: 2em;
}

.padding-3 {
  padding: 3em;
}

.padding-4 {
  padding: 4em;
}

/**
 * Wraps the entire page
 */
.page-wrapper {
  margin: 0;
  padding: 3.5em 0 0 0;
  width: 100%;
}

/**
 * Site header
 */
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  min-height: 56px;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
  margin: 0;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $md-white;
  }
}

.site-nav {
  text-align: center;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $md-white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    left: $spacing-unit / 2;
    background-color: $md-white;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: left;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      text-align: left;
      display: block;
      padding: 5px 10px 0;
      color: $md-grey-900;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  //position: fixed;
  //bottom: 0;
  background-color: $md-black;
  color: $md-white;
  width: 100%;
  margin: 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}